<div class="container">
  <br><br><br>
  <h1>MOVIES</h1>
  <br><br><br>

  <div class="row row-cols-1 row-cols-md-4 g-4" *ngIf="movies!=null else espera">
    <br><br><br>
    <div class="col" *ngFor="let m of movies.results">
      <div class="card">
        <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{m.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{m.title}}</h5>
          <br>
          <div class="d-grid gap-2 col-10 mx-auto">
            <button routerLink="/more/{{m.id}}" class="btn btn-warning " type="button"> See
              more</button>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<ng-template #espera> No hay datos que mostrar por ahora....</ng-template>
